<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title> Respiration Data - About </title>
      <link rel="stylesheet" href="{{url_for('static',filename='home.css') }}"/>
      
   </head>
   <body>
   <br>
   <br>
   <br>
   <div style="text-align:center"> 
   <a href = "/">Go back to home page</a><br>
   <br>
   <h1> The remote monitoring system of respiration data</h1>
   <br>
   <br>
   <span style = "font-weight: bold; font-size: x-large; color: #3c1278;">Provided information</span><br><br>
   <span style = "font-size: large; color: #3c1278;">Respiration per minute<br>
Movement intensity of chest<br>
Distance between user and sensor</span><br>
   <br>
   <br>
   <span style = "font-weight: bold; font-size: x-large; color: #3c1278;">Function</span><br><br>
   <span style = "font-size: large; color: #3c1278;">Table - Selected date (RPM, Movement, Distance, Signal Quallity)<br>
Graph - Selected date (RPM)<br>
Graph - Real-time (RPM)</span><br>
   <br>
   <br>
   <span style = "font-weight: bold; font-size: x-large; color: #3c1278;">RPM(Respiration per minute)<br>
- The number of breaths a person takes per minute -</span><br><br>
   <span style = "font-size: large; color: #3c1278;">Average - Adult : 12 ~20<br>
Average - Child : 20 ~ 25<br>
Average - Baby : 40 ~ 50</span><br>
   <br>
   <br>

</body>
</html>